{% extends "base.html" %}
{% block maincontent %}

<div class="tasks-title">
    <h2>Edit task</h2>
    <p>
    Edit your task here, view the fields to confirm data and ensure all fields are correct
    <br>
    Then hit submit to edit the task. Finally view your tasks here <a href="{{url_for('tasks')}}">here</a>
    </p>
    
</div>

<div class="d-flex justify-content-center form-wrapper">
    <form class="w-50" method="POST" action="{{ url_for('edit_task', task_id=task.id) }}">
        <div class="mb-5">
            <label for="task_name">Task Name</label>
            <input id="task_name" name="task_name" minlength="5" maxlength="50" type="text" class="form-control form-input" placeholder="Task Name" required>
        </div>
        <div class="mb-3">
            <label for="task_description">Task Name</label>
            <textarea id="task_description" name="task_description" minlength="5" maxlength="200" type="text" class="form-control form-input" placeholder="Task Description" required></textarea>
        </div>
        <div class="mb-3">
            <label for="due_date">Start</label>
            <input id="due_date" name="due_date" type="date" class="datepicker validate" required>
        </div>
        <div class="mb-3">
            <label for="is_urgent">Is Urgent</label>
            <input id="is_urgent" name="is_urgent" type="checkbox" class="form-control form-input">
        </div>
        <div class="mb-3">
             <select id="category_id" name="category_id" class="validate form_select" required>
                <option selected>Choose Category</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                    {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary submit-btn">Edit Task</button>
    </form>
</div>


{% endblock %}