* {
    margin: 0;
    padding: 0;
}

/* roots */ 

:root {
    --main-background: rgb(60, 136, 211); 
    --light-background: rgb(68, 152, 236); 
}

/* General Navbar styling */

.navbar {
    display: flex;
    height: 10%;
}

.navbar-brand {
    margin-left: 3rem;
    font-size: 2rem;
    padding-top: 0;

}

.navbar-collapse {
    justify-content: right;
    margin-right: 2rem;
}

.navbar-collapse li {
    font-size: 1.2rem;
    align-items: center;
    padding-right: 2rem;
}

/* Mobile menu nav styling */

.mobile-menu {
    position: absolute;
    top: 100%; /* Position it below the navbar */
    left: 0;
    width: 100%;
    z-index: 1050; /* Ensure it appears above other elements */
    background-color: #f8f9fa;
}


.mobile-menu .nav-link {
    margin-right: 1.5rem;
    padding: 15px 10px;
    font-size: 1.5rem;
    color: #333;
    display: block;
    text-align: right;
    }

.mobile-menu .nav-link:hover {
    background-color: #f8f9fa;
    text-decoration: none;
    }

.navbar-toggler {
    margin-right: 2rem;
    font-size: 1.5rem;
    outline: none!important;
    box-shadow: none!important;
    }

.tasks-title {
    text-align: center;
    margin-top: 3rem;
}

.accordian-item h2 {
    text-align: center;
}


.task-buttons {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 2rem; /* Space between buttons */
}


.task-button {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(60, 136, 211);
    color: white;
    border: none;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden; /* Prevent content overflow */
}

.task-button p {
    font-size: 14px;
    margin: 0;
    position: absolute; /* Position it in the center */
    transition: opacity 0.3s ease;
}

.task-button i {
    font-size: 0;
    transition: font-size 0.3s ease, transform 0.3s ease;
    color: white;
    height: 100%; /* Ensure it fills the parent */
    width: 100%;  /* Ensure it fills the parent */
    display: flex; /* Center content within the <i> */
    align-items: center;
    justify-content: center;
}

.task-button:hover p {
    opacity: 0;
    color: white;
}

.task-button:hover i {
    opacity: 0.8;
    color: white;
    font-size: 6rem; /* Make the "+" icon grow */
    transform: rotate(90deg)
}

.task-button:hover {
    background-color: var(--main-background);
}

/* Task and category form field*/

.form-input {

    width: 80%;
    margin: 2rem auto 0; /
}

.submit-btn {
    width: 200px;
    display: block;
    margin: 20px auto 0;
}

.form-wrapper {
    margin-bottom: 2rem;
}

.accordion-button:not(.collapsed) {
    background-color: var(--main-background)!important;
    color: white;
}

.accordion-button:is(.collapsed) {
    background-color: var(--main-background)!important;
    color: white;
}

.task-list-item {
    display: flex;
    font-size: 1.5rem;
}

.task-list-item p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensure the button spans the full width */
    margin: 0;
    padding-right: 1rem;
}

